/*   Super Simple Admin Theme By Jeff Adams    */
/* ----------------------------
    BASIC STYLES
------------------------------- */

/*Change your font here */
body           {
  ackground-color: #EAEAEA;
  font-family: Arial, Helvetica, sans-serif;
  overflow:auto;
}
h1,h2,h3,h4,h5,h6    { color: #333333;}
a, button {outline:0;}
p     { font-size: 12px;padding: 0px;line-height: 24px;margin-top: 0px;margin-right: 0px;margin-bottom: 12px;margin-left: 0px;color: #666666;}
ol     { list-style-type: lower-roman;}
dt     { font-weight: bold;text-decoration: underline;font-size: 14px;margin-top: 5px;margin-bottom: 5px;} 
dd     {
  font-size: 12px;
  color: #666666;
  padding: 5px 0 10px 10px;  
  margin: 0 0 0 10px;
}
#admin_wrapper {
  width: 450px;
  margin: 50px auto 10px auto;
  background-color: #fff;
  border: 10px solid #d6d6d6;
  padding: 15px 30px;
}
  #admin_wrapper h1   { font-size: 28px;padding-bottom: 10px;}

/* ----------------------------
    NOTIFICATIONS
------------------------------- */
.success, .error, .information, .attention{
  margin: 10px 0;
  background-repeat: no-repeat;
  background-position: 10px center;
  padding: 10px;
  padding-left: 60px;
  font-size: 12px;
  height: 30px;
  font-weight: bold;
  line-height: 30px;
}
.success         { background-color: #D5FFCF; border: 1px solid #97FF88; color: #009900; background-image: url('/static/images/admin/accept.png');}
.error           { background-color: #FFCFCF;border: 1px solid #FF9595;color: #CC3300; background-image: url('/static/images/admin/delete.png');}
.information       { background-color: #DCE3FF;border: 1px solid #93A8FF;color: #0033FF; background-image: url('/static/images/admin/information.png');}
.attention         { background-color: #FFFBCC;border: 1px solid #FFF35E;color: #C69E00; background-image: url('/static/images/admin/warning.png');}
.close-notification          {
  width: 16px;
  height: 16px;
  position: absolute;
  background: url('/static/images/admin/close.png') no-repeat;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.even {background-color: #EAEAEA;}
.indent{margin:15px;line-height:1.5em;color:#444;}
/* ----------------------------
    LAYOUT
------------------------------- */
#top {
min-width:900px;
font-size:0.9em;
text-align:center;
}
#top ul{
list-style:none; 
 padding:5px 0;}
#top ul li{display:inline;  margin:0 6px;}
#top ul li a{
background:#333;padding:5px 10px; color:#fff;
text-decoration:none;
}
#top ul li a:hover{background:#cc0000}

#header  {
min-width:900px;
min-height: 80px;
background:transparent url('/static/images/admin/panda.png') no-repeat 80px 0; 
overflow:auto;
}
  
  #header div {
    margin-top: 60px;
    margin-left:225px;
    padding:9px 0;
  }
  #header div a{
    padding:10px 15px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    background:#eee;
    text-decoration:none;
  }
  #header div a:hover,
  #header div a.active{
    background:#fff;
    font-weight:bold;
    border:1px dashed #0099ff;
    border-bottom:0;
    color:#ff7676;
  }
#wrapper{
    background: #fff url('/static/images/marketing/footer.png') repeat-x bottom left;
    overflow:auto;
    padding-bottom:200px;}
#content_wrapper {
  margin:0 auto 20px 50px;
  padding: 0px;
  float: left;
  clear: both;
  width: 90%;
  min-width:800px;
}
#primary_content {
  width: 74%;
  float: left;
  margin: 0px;
  padding: 25px;
  background: #fff;
  min-height:400px;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-top:1px dashed #0099ff;
}

/* ----------------------------
    PRIMARY CONTENT
------------------------------- */
h1{ font-size: 28px;padding-bottom: 10px;}

h2{
  font-size: 22px;
  margin: 5px 0 20px 0;
  padding:5px 0 10px 0;
}
h2.head{
  border-bottom:2px solid #d6d6d6;
}
.sub-head{
  border-bottom:1px dashed #d6d6d6;
}
h3{
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  color: #222;
}
h4{
  font-size: 15px;
  margin: 10px 0;
  text-transform: uppercase;
  color: #333333;
  padding: 0px;
}
h5{
  font-size: 15px;
  margin: 10px 0;
  text-transform: uppercase;
  color: #999999;
  padding: 0px;
}
h6 {
  font-size: 14px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #999999;
}
#primary_content ol   { padding-left: 20px;list-style-type: decimal;font-size: 13px;margin: 7px;}

ul.normal-list {
  list-style-type: disc;
  padding-left: 20px;
  font-size: 13px;
  margin:7px;
  margin-bottom: 12px;
}

#primary_content li   {
  color: #666666;
  margin: 7px 0;
}

#sidebar {
  float: left;
  width: 150px;
  min-width:150px;
  padding-top: 20px;
  margin-top: 0px;
  line-height: 20px;
  z-index:10;
}
#sidebar img {
  float: left;
  padding-right: 10px;
}



/* ----------------------------
    SIDEBAR
------------------------------- */

  #sidebar h3 {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  #sidebar li   { margin: 0px;padding: 0px;}
  
  #sidebar a {
    padding: 10px;
    display: block;
    height:100%;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    margin:0;
    margin-bottom:8px;
    background:#eee;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    color: #666666;
    text-decoration: none;
    font-size: 12px;
    font-weight:bold;
  }
  #sidebar .active, #sidebar a:hover {
    background: #fff;
    margin-right: -2px;
    padding-left: 12px;
    border: 1px dashed #0099ff;
    color: #ff7676;
  }

/* ----------------------------
    FOOTER
------------------------------- */
#footer  {
  clear: both;
  margin: 20px 0;
  padding: 10px 0;
  padding-left: 20px;
  font-size: 10px;
  text-align:right;
}
#subnav{display:none;}
#subnav ul{text-align:right; border:1px solid red;}

/* ----------------------------
    TABLES
------------------------------- */

table {
  font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border:0;
  }

th   {
  text-align: left;
  background-color: #333;
  padding: 5px;
  text-transform: uppercase;
  color:#fff;
}
td   {
  text-align: left;
  padding: 3px;
}

#primary_content tr:hover {
  background-color: #FFFFCC;
}


/* tables */
table.tablesorter {
  font-family:arial;
  background-color: #CDCDCD;
  font-size: 8pt;
  width: 100%;
  text-align: left;
  margin-top: 10px;
  margin-right: 0pt;
  margin-bottom: 25px;
  margin-left: 0pt;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  background-color: #d6d6d6;
  border: 1px solid #FFF;
  font-size: 8pt;
  padding: 4px;
}
table.tablesorter thead tr .header {
  background-image: url('/static/images/admin/bg.gif');
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter tbody td {
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
}
table.tablesorter tbody tr.odd td {
  background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url('/static/images/admin/asc.gif');
}
table.tablesorter thead tr .headerSortDown {
  background-image: url('/static/images/admin/desc.gif');
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #B7B7B7;
}
}