

/*
 * reviews stuff
 */
ul#sortable{
  border:1px solid BLACK;
list-style:none !important; margin:0 !important;padding:0 !important;}
.cat-item{
  margin: 10px 0;
  padding:8px;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
}
div.cat-handle{float:left;width:60px;height:50px; cursor:move;}
.cat-sort{
background:#FFFBCC url('/static/images/admin/move.png') no-repeat 10px center;
border: 1px solid #FFF35E;
color: #C69E00; 
}
.cat-add{
 border: 1px solid #97FF88;
 color: #009900;
 padding-left:60px; 
 background:#D5FFCF url('/static/images/admin/accept.png') no-repeat 10px center;

}

.cat-item input{padding:2px; background:#fff; border:1px solid #fff;}
.cat-item input:focus{background:#ffffaa; border:1px solid orange}
.cat-item input.cat-name{width:200px;}
.cat-item input.cat-desc{width:300px;}

.cat-item .cat-save,
.cat-item .cat-delete
{float:right;}
.cat-item .cat-delete{}

button.save-cat{
  background:transparent url('/static/images/admin/accept.png') no-repeat 50% 50%;
  width:30px;
}
a.del-cat{
  background:transparent url('/static/images/admin/delete.png') no-repeat 50% 50%;
  width:30px;
}

.panda-pagination{
padding:5px;
margin:5px 0;
background:#333;
color:#fff;
text-align:right;
}
.panda-pagination .panda-showing{float:left;}
.panda-pagination a{
  color:#fff;
}
.panda-pagination a:hover{
  color:orange;
}

.admin-reviews-list .review-wrapper{
  border:1px solid blue;
  margin-bottom:7px;
}
.admin-reviews-list .review-wrapper td{
  border:1px solid red;
  text-align:center;
}
.admin-reviews-list .review-wrapper td.review-rating{width:40px}
.admin-reviews-list .review-wrapper td.review-body{text-align:left}
.admin-reviews-list .review-wrapper td.options{width:40px}
.admin-reviews-list .review-wrapper td.review-info{text-align:right}
.admin-reviews-list .review-wrapper td div.review-tag{float:left}

.admin-reviews-list .review-wrapper tr.flag-status td{
background:pink;
text-align:left;}

.flag-review{
  display:none;
  position:absolute;
  padding:10px; background:#ffffcc;
  width:400px;
  margin-left:10%;
  border:5px solid #777;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
}
.flag-review.helper{display:block;}




/*
 * testimonials stuff
 */
 
div.dashboard-page{


}
 div.dashboard-page h3{padding:5px; margin-top:25px; color:#333; background:#ffffcc}
div.dashboard-page h4{
padding-left:25px;
margin:15px 0;
background: url('/static/images/marketing/check.gif') no-repeat 0 50%;
color:#555
}
div.dashboard-page .indent{margin-left:25px; color:#555;line-height:1.5em;}


table.t-data{border-bottom:1px dashed #ccc;margin-bottom:20px;}
.with-selected{list-style:none;margin:0;padding:0;}
.with-selected li {display:inline; margin-right:10px;}

.share-data{width:600px;height:300px; text-align:center}
.share-data input{width:500px;font-size:1.2em;padding:5px;}

.t-publish{
  float:right;
  padding:7px 10px;
  margin:0;
  margin-right:25px;
  border:1px solid #ffff99;
  border-bottom:0;
  background:#ffffcc;
  font-weight:bold;
  font-size:1.1em;
  -moz-border-radius-topleft:7px;
  -moz-border-radius-topright:7px;
  -webkit-border-top-left-radius:7px;
  -webkit-border-top-right-radius:7px;
}

.admin-testimonial-wrapper {
clear: both;
overflow: auto;
margin-bottom:20px;
}

/*
 * survey questions
 */
.questions-wrapper{
}
.questions-wrapper p{
  margin:5px;padding:5px;background:#eee;
}

/* public form */
.public-link{margin-bottom:25px;}
.public-link span, .public-link a{font-size:1.2em; font-weight:bold;}
.public-link a:hover{color:green}
.public-link input{display:block;margin-top:10px;}

.public-form{padding:10px; background:#ffffcc;margin:10px 0;}
.public-form fieldset{margin:5px 0;}
.public-form label{font-weight:bold;}







