
html { background: #83c018; }
body { width: 52em; margin: 50px auto 2em; font-size: 76%; font-family: Arial, sans-serif; color: #273907; line-height: 1.5;}
h1 { font-size: 3em; font-weight: normal; text-transform: uppercase; color: #fff; }
a { color: inherit; }
code { font-size: 1.3em; }
ul { list-style: none; padding: 2em 0; }
ul li { display: inline; padding-right: 1em; text-transform: uppercase; }
ul li a { padding: 0.5em 1em; background: #69ad0f; border: 1px solid #569f09; color: #fff; text-decoration: none; }
ul li a:hover { background: #569f09; }
.box { padding: 2em; background: #98cc2b; border: 1px solid #569f09; }
.copyright { font-size: 0.9em; text-transform: uppercase; color: #557d10; }

form fieldset{border:0}
.aligncenter{text-align:center}

/* main wrappers */
#plusPandaYes{margin:0 auto; width:550px;}
.panda-tag-scope{margin:8px;}

/* tags filtering */
#panda-select-tags{padding:8px; margin-bottom:10px; background:green;}


/* reviews summary */
.panda-reviews-summary{clear:both; padding:10px; background:#ffffcc;}
.panda-reviews-summary-title{float:left;background:#ffffcc;padding:5px;font-size:1.1em; font-weight:bold;}


/* add review form */
#add_review_toggle{display:block;padding:5px 10px; background:#e4f6fd; float:right; font-size:1.1em; font-weight:bold; text-decoration:none;}
#add_review_toggle:hover{background:green;}

#panda-add-review{clear:both; background:#e4f6fd; margin:0;padding:10px;}
#panda-add-review fieldset{margin-bottom:5px;}
#panda-add-review fieldset label{font-weight:bold;}
#panda-add-review fieldset input{padding:3px; width:100%;}
#panda-add-review fieldset textarea{width:500px; height:100px;} /* ie sucks balls */

#panda-add-review fieldset.panda-display_name,
#panda-add-review fieldset.panda-email{float:left; width:225px;}

#panda-add-review fieldset.panda-submit{clear:both;text-align:right;}





/* reviews list */
.panda-reviews-list{padding:20px; text-align:left;}
.review-rating{float:left; padding:3px 6px; background:#ffffcc;  text-align:center;}
.review-tag{float:right; text-align:right;}
.review-body{clear:both; padding:10px; background:#fff;}
.review-name{text-align:right; margin-bottom:10px;}

button{border:0; background:#fff; padding:2px;}
button:hover{background:#ffffcc; cursor:cursor; cursor:pointer;}

/* common tab list for sorting links */
 ul.panda-reviews-sorters{
	clear:both;
	list-style:none;
	padding:10px 0;
	margin:10px 0;
	border-bottom:1px solid green;
	text-align:right;
}
 ul.panda-reviews-sorters li{
	display:inline;
}
 ul.panda-reviews-sorters li a{
	padding:10px 15px;
	font-weight:bold;
	color:black;
	background:#eee;
}
 ul.panda-reviews-sorters li a:hover,
 ul.panda-reviews-sorters li a.selected{
	position:relative;
	background:orange;
	border:1px solid #999;
	border-bottom:1px solid #fff;
}




