#plusPandaYes {
  margin: 0 auto;
  width: 550px; }
  #plusPandaYes div, #plusPandaYes span, #plusPandaYes h1, #plusPandaYes h2, #plusPandaYes h3, #plusPandaYes h4, #plusPandaYes h5, #plusPandaYes h6, #plusPandaYes p, #plusPandaYes blockquote, #plusPandaYes pre, #plusPandaYes a, #plusPandaYes abbr, #plusPandaYes acronym, #plusPandaYes address, #plusPandaYes big, #plusPandaYes cite, #plusPandaYes code, #plusPandaYes del, #plusPandaYes dfn, #plusPandaYes em, #plusPandaYes font, #plusPandaYes img, #plusPandaYes ins, #plusPandaYes kbd, #plusPandaYes q, #plusPandaYes s, #plusPandaYes samp, #plusPandaYes small, #plusPandaYes strike, #plusPandaYes strong, #plusPandaYes sub, #plusPandaYes sup, #plusPandaYes tt, #plusPandaYes var, #plusPandaYes b, #plusPandaYes u, #plusPandaYes i, #plusPandaYes center, #plusPandaYes dl, #plusPandaYes dt, #plusPandaYes dd, #plusPandaYes ol, #plusPandaYes ul, #plusPandaYes li, #plusPandaYes fieldset, #plusPandaYes form, #plusPandaYes label, #plusPandaYes legend, #plusPandaYes table, #plusPandaYes caption, #plusPandaYes tbody, #plusPandaYes tfoot, #plusPandaYes thead, #plusPandaYes tr, #plusPandaYes th, #plusPandaYes td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: "Gill Sans MT",verdana,sans-serif;
    color: #000;
    font-weight: normal; }
  #plusPandaYes fieldset {
    border: 0; }
  #plusPandaYes button {
    border: 0;
    background: #fff;
    padding: 2px; }
    #plusPandaYes button:hover {
      background: #ffffcc;
      cursor: cursor;
      cursor: pointer; }
  #plusPandaYes .panda-tag-scope, #plusPandaYes .panda-add-wrapper {
    margin: 8px; }
  #plusPandaYes #panda-select-tags {
    padding: 10px;
    margin-bottom: 10px;
    background: #111;
    color: white; }
  #plusPandaYes .panda-reviews-summary {
    clear: both;
    padding: 10px;
    background: #ffffaa; }
    #plusPandaYes .panda-reviews-summary div {
      text-align: center;
      font-size: 1.2em;
      background: #ffff55;
      padding: 3px; }
    #plusPandaYes .panda-reviews-summary p {
      margin: 0; }
  #plusPandaYes .panda-reviews-summary-title {
    float: left;
    background: #ffffaa;
    padding: 5px;
    font-size: 1.1em;
    font-weight: bold; }
  #plusPandaYes #add_review_toggle {
    display: block;
    padding: 5px 10px;
    background: #e4f6fd;
    float: right;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none; }
    #plusPandaYes #add_review_toggle:hover {
      background: #ffcc33; }
  #plusPandaYes #panda-add-review {
    clear: both;
    background: #e4f6fd;
    margin: 0;
    padding: 10px; }
    #plusPandaYes #panda-add-review fieldset {
      margin-bottom: 5px; }
      #plusPandaYes #panda-add-review fieldset label {
        font-weight: bold; }
      #plusPandaYes #panda-add-review fieldset input {
        padding: 3px;
        width: 215px; }
      #plusPandaYes #panda-add-review fieldset textarea {
        width: 500px;
        height: 100px; }
    #plusPandaYes #panda-add-review fieldset.panda-display_name {
      float: right;
      width: 235px; }
    #plusPandaYes #panda-add-review fieldset.panda-email {
      float: left;
      width: 235px; }
    #plusPandaYes #panda-add-review fieldset.panda-submit {
      clear: both;
      text-align: right; }
  #plusPandaYes .panda-pagination {
    font-size: 1.6em;
    color: #fff;
    text-align: right; }
    #plusPandaYes .panda-pagination .panda-showing {
      float: left; }
    #plusPandaYes .panda-pagination a {
      color: #fff; }
      #plusPandaYes .panda-pagination a:hover {
        color: orange; }
  #plusPandaYes .panda-reviews-list {
    padding: 20px;
    text-align: left; }
  #plusPandaYes .review-rating {
    float: left;
    padding: 3px 6px;
    background: #ffff88;
    text-align: center; }
  #plusPandaYes .review-tag {
    float: right;
    text-align: right; }
    #plusPandaYes .review-tag span {
      font-weight: bold; }
  #plusPandaYes .review-body {
    clear: both;
    padding: 10px;
    background: #ffffcc; }
  #plusPandaYes .review-name {
    text-align: right;
    margin-bottom: 10px; }
    #plusPandaYes .review-name abbr {
      font-family: verdana;
      color: #fff; }
    #plusPandaYes .review-name span {
      font-weight: bold; }
  #plusPandaYes ul.panda-reviews-sorters {
    clear: both;
    list-style: none;
    padding: 8px 0;
    margin: 10px 0;
    border-bottom: 1px solid #333;
    text-align: right; }
    #plusPandaYes ul.panda-reviews-sorters li {
      display: inline;
      margin-left: 10px; }
      #plusPandaYes ul.panda-reviews-sorters li a {
        padding: 10px 15px;
        font-weight: bold;
        color: black;
        background: #fff; }
        #plusPandaYes ul.panda-reviews-sorters li a:hover, #plusPandaYes ul.panda-reviews-sorters li a.selected {
          outline: none;
          background: #ffcc33;
          border-bottom: 1px solid #333; }
