
/* html { background: #83c018; }*/
/*
html{background:url('../images/background.png') repeat 0 0}
*/
body { width: 52em; margin: 50px auto 2em; font-size: 76%; font-family: Arial, sans-serif; color: #333; line-height: 1.5; background: url('/static/home/images/bg_top_outer.jpg') repeat-x top; }
h1 { font-size: 3em; font-weight: normal; text-transform: uppercase; color: #333; }
h2{color:#333;}
a { color: inherit; outline:0; }
abbr{border:0}
.copyright { font-size: 0.9em; text-transform: uppercase; color: #557d10; }
div.ajax_loading{text-align:center !important; background:transparent url('../images/ajax-load.gif') no-repeat 50% 50% !important; width:100% !important; height:90px !important; }
form fieldset{border:0}
.aligncenter{text-align:center}
