#plusPandaYes { margin: 0 auto; width: 550px; }
#plusPandaYes div, #plusPandaYes span, #plusPandaYes h1, #plusPandaYes h2, #plusPandaYes h3, #plusPandaYes h4, #plusPandaYes h5, #plusPandaYes h6, #plusPandaYes p, #plusPandaYes blockquote, #plusPandaYes pre, #plusPandaYes a, #plusPandaYes abbr, #plusPandaYes acronym, #plusPandaYes address, #plusPandaYes big, #plusPandaYes cite, #plusPandaYes code, #plusPandaYes del, #plusPandaYes dfn, #plusPandaYes em, #plusPandaYes font, #plusPandaYes img, #plusPandaYes ins, #plusPandaYes kbd, #plusPandaYes q, #plusPandaYes s, #plusPandaYes samp, #plusPandaYes small, #plusPandaYes strike, #plusPandaYes strong, #plusPandaYes sub, #plusPandaYes sup, #plusPandaYes tt, #plusPandaYes var, #plusPandaYes b, #plusPandaYes u, #plusPandaYes i, #plusPandaYes center, #plusPandaYes dl, #plusPandaYes dt, #plusPandaYes dd, #plusPandaYes ol, #plusPandaYes ul, #plusPandaYes li, #plusPandaYes fieldset, #plusPandaYes form, #plusPandaYes label, #plusPandaYes legend, #plusPandaYes table, #plusPandaYes caption, #plusPandaYes tbody, #plusPandaYes tfoot, #plusPandaYes thead, #plusPandaYes tr, #plusPandaYes th, #plusPandaYes td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; font-family: "Gill Sans MT",verdana,sans-serif; color: #333; font-weight: normal; }
#plusPandaYes fieldset { border: 0; }
#plusPandaYes button { border: 0; background: #3399ff; color: #fff; padding: 2px; }
#plusPandaYes button:hover { background: #09C61A; color: #fff; cursor: cursor; cursor: pointer; }
#plusPandaYes .panda-tag-scope, 
#plusPandaYes .panda-add-wrapper { }
#plusPandaYes #panda-select-tags {
clear:both;
padding: 5px; background: #333; color: white; text-align: center; }
#plusPandaYes #panda-select-tags select {
padding:3px; width: 300px; }
#plusPandaYes #panda-select-tags button { margin-left: 10px; }
#plusPandaYes .panda-reviews-summary {
clear: both; padding: 10px; background: #ffff99;
-moz-border-radius-bottomleft:7px;
-moz-border-radius-bottomright:7px;
-webkit-border-bottom-left-radius:7px;
-webkit-border-bottom-right-radius:7px;
}
#plusPandaYes .panda-reviews-summary table.panda-graph {
border-collapse:collapse;
background:#fff;
width:100%;
margin:0 auto;
-moz-border-radius-bottomleft:7px;
-moz-border-radius-bottomright:7px;
-webkit-border-bottom-left-radius:7px;
-webkit-border-bottom-right-radius:7px;
border:1px solid #eee;
 }
 
#plusPandaYes .panda-reviews-summary tr th {
	background:#fff;
	padding:3px;
	text-align:center;
	font-size:1.1em;
	font-weight:bold;
	text-decoration:underline;
	
}
#plusPandaYes .panda-reviews-summary .panda-graph  tr td{
padding:4px;
border-bottom:1px solid #eee;
 }
#plusPandaYes .panda-reviews-summary .panda-graph div{
height:18px;
float:left;
margin-right:5px;
background:#ffcc00;
border:1px solid #fea116;

}

#plusPandaYes #add_review_toggle {
display: block; padding: 5px 10px; 
background: #3399ff; float: right; color: #fff; font-size: 1em; font-weight: bold; text-decoration: none; }
#plusPandaYes #add_review_toggle:hover { background: #09C61A; }

#plusPandaYes #panda-add-review {
overflow:auto;
clear: both; background: #d7f4fd; 
color: #333; margin: 0; padding: 10px; }
#plusPandaYes #panda-add-review fieldset { margin-bottom: 5px; }
#plusPandaYes #panda-add-review fieldset label {
font-weight: bold; color: #333; }
#plusPandaYes #panda-add-review fieldset label .jade_required_star { font-weight: bold; color: red; }

#plusPandaYes #panda-add-review fieldset.panda-tag{
	clear:both;
	margin-bottom:10px;
}
#plusPandaYes #panda-add-review fieldset.panda-tag select{
width:350px;
padding:3px;
border:1px solid #333;
}

#plusPandaYes #panda-add-review #panda-star-rating{
float:left;
width:160px; height:33px; margin-bottom:10px;
background: #fff url('/static/widget/images/rating-select.png') no-repeat 0 0;
border:1px solid #333;
}
#plusPandaYes #panda-add-review .panda-rating-text{
float:left;
margin-left:10px;
padding-top:4px;
font-size:1.2em;
font-weight:bold;
}

#plusPandaYes #panda-add-review #panda-star-rating.one{
background-position: 0px -48px;
}
#plusPandaYes #panda-add-review #panda-star-rating.two{
background-position: 0px -95px;
}
#plusPandaYes #panda-add-review #panda-star-rating.three{
background-position: 0px -142px;
}
#plusPandaYes #panda-add-review #panda-star-rating.four{
background-position: 0px -189px;
}
#plusPandaYes #panda-add-review #panda-star-rating.five{
background-position: 0px -236px;
}


#plusPandaYes #panda-add-review #panda-star-rating div{
width:32px;
height:40px;
float:left;
cursor:cursor;
cursor:pointer;
}

#plusPandaYes #panda-add-review fieldset textarea {
display:block;
width: 310px; height: 180px; 
border:1px solid #333;}

#plusPandaYes #panda-add-review fieldset.panda-body {
float:left;
}
#plusPandaYes #panda-add-review fieldset input {
padding: 3px; width: 170px;
border:1px solid #333; }

#plusPandaYes #panda-add-review fieldset.panda-display_name {
float: right;
width: 175px; margin-bottom:10px;
}
#plusPandaYes #panda-add-review fieldset.panda-email {
float: right; width: 175px;
margin-bottom:20px; }

#plusPandaYes #panda-add-review fieldset.panda-submit {
float:right; width:175px; 
}
#plusPandaYes #panda-add-review fieldset.panda-submit button{
	width:181px; height:30px;
}
#plusPandaYes #panda-add-review fieldset.jade_error { background: #fad6d6 !important; }
#plusPandaYes #panda-add-review fieldset span.error_msg { display: block; color: red; }
#plusPandaYes .panda-pagination {
border-top: 2px solid #E6F5FC;
text-align: right; padding:10px 0;}
#plusPandaYes .panda-pagination .panda-showing { float: left; }
#plusPandaYes .panda-pagination a {
text-decoration: underline; 
color:blue;}
#plusPandaYes .panda-pagination a:hover { color: #333; }
#plusPandaYes .panda-reviews-list { padding: 20px; text-align: left; }

#plusPandaYes .review-wrapper{
clear:both;
overflow:auto;
margin-bottom:10px;
}
#plusPandaYes .review-rating {
float: right;
width:95px;
height:22px;
background:#fff url('/static/widget/images/sm-rating.png') no-repeat 0 0;
text-align: center; 
}
#plusPandaYes .review-rating._1{background-position: 0px 0px;}
#plusPandaYes .review-rating._2{background-position: 0px -28px;}
#plusPandaYes .review-rating._3{background-position: 0px -56px;}
#plusPandaYes .review-rating._4{background-position: 0px -85px;}
#plusPandaYes .review-rating._5{background-position: 0px -112px;}
#plusPandaYes .review-name {
float:left;
}
#plusPandaYes .review-name span { font-weight:bold; font-style: italic; }


#plusPandaYes .review-tag {
float:left;}
#plusPandaYes .review-tag span { font-style: italic; }
#plusPandaYes .review-body {
clear: both; padding: 10px; background: #E6F5FC;
margin:2px 0;
-moz-border-radius:5px;
-webkit-border-radius:5px; }
#plusPandaYes .review-date{float:right;}
#plusPandaYes .review-date abbr { font-family: verdana;}


#plusPandaYes ul.panda-reviews-sorters {
clear: both; list-style: none;
padding: 5px 0; margin-top:10px; 
border-bottom: 2px solid #E6F5FC;}
#plusPandaYes ul.panda-reviews-sorters li {
display: inline; margin: 0 5px;}
#plusPandaYes ul.panda-reviews-sorters li a {
padding: 5px 10px; color: blue;
 }
#plusPandaYes ul.panda-reviews-sorters li a:hover, #plusPandaYes ul.panda-reviews-sorters li a.selected {
outline: none; background:#ffff99;}
#plusPandaYes div.jade_form_status_box { font-weight: bold; color: #000; font-size: 1.2em; margin-bottom: 10px; padding: 10px; text-align: center; }
#plusPandaYes div.jade_form_status_box.box_positive { background: green; border: 1px solid green; color:#fff; }
#plusPandaYes div.jade_form_status_box.box_negative { background: #fad6d6; border: 1px solid #cc0000; }
#plusPandaYes div.ajax_loading { width: 100%; height: 90px; background: transparent url('/static/images/load.gif') no-repeat 50% 50%; text-align: center; }

/* ratings */

